doctype html
head
    title Calculator
h1 Calculator
form(method="post" name='calculator')
  input(type='text' name="sum" placeholder='Type in sum')
  br
  input(type='submit' value='GO')

h3 Result
td=results

